<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:faq="http://typo3.org/ns/Wacon/FaqSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Before"></f:section>
    <f:section name="After"></f:section>
    <f:section name="Header"></f:section>
    <f:section name="Footer"></f:section>
    <f:section name="Main">
        <f:render partial="Assets" arguments="{settings: settings}" />
        <f:render partial="Faq/Accordion" arguments="{data: data, parentRecord: parentRecord}" />
        <script type="application/ld+json">
            <f:format.raw><faq:structuredData.faq item="{data}" /></f:format.raw>
        </script>
    </f:section>
</html>
