<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:faq="http://typo3.org/ns/Wacon/FaqSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Before"></f:section>
    <f:section name="After"></f:section>
    <f:section name="Header"></f:section>
    <f:section name="Footer"></f:section>
    <f:section name="Main">
        <f:if condition="{settings.assets.faq.css}">
            <f:asset.css identifier="faqseo_faq" href="{settings.assets.faq.css}" />
        </f:if>
        <f:if condition="{settings.assets.faq.js}">
            <f:asset.script identifier="faqseo_faq" src="{settings.assets.faq.js}" />
        </f:if>
        <div class="faq accordion-item">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{data.uid}" aria-expanded="false" aria-controls="collapse{data.uid}">{data.header}</button>
            <div id="collapse{data.uid}" class="accordion-collapse collapse"{f:if(condition: parentRecord, then: ' data-bs-parent="#c{parentRecord.uid}')}">
                <div class="accordion-body">
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
            </div>
        </div>
        <script type="application/ld+json">
            <f:format.raw><faq:structuredData.faq item="{data}" /></f:format.raw>
        </script>
    </f:section>
</html>
