<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:faq="http://typo3.org/ns/Wacon/FaqSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Plugin"/>

<f:section name="Main">
    <f:render partial="Assets" arguments="{settings: settings}" />
    <f:if condition="{faqs}">
        <div class="accordion" id="c{data.uid}">
            <f:for each="{faqs}" as="faq" iteration="i">
                <f:render partial="Faq/Accordion" arguments="{data: faq.ttContentData, parentRecord: data}" />
            </f:for>
        </div>
    </f:if>
</f:section>
<f:section name="StructuredData">
    <script type="application/ld+json">
        <f:format.raw><faq:structuredData.faq items="{faqs}" /></f:format.raw>
    </script>
</f:section>
</html>
